@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap");
@font-face {
  font-family: "CarnokyType Zin Display Condensed";
  src: url("assets/Fonts/CarnokyType\ -\ Zin\ Display\ Condensed\ Demo.otf")
    format("opentype");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

body {
  background: #f6f4ef;
}

.app {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 280px;
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo {
 
  width: 122px;
  height: 28px;   
  top: 36px;
  left: 35px;
  opacity: 1;
}
#subwait {
  font-weight: 600;
  color: rgba(67, 109, 124, 1);
}

.user-card {
  display: flex;
  gap: 12px;
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  margin-bottom: 24px;
  

}

.user-card img {
  width: 36px;
  height: 36px;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
}

.user-role {
  font-size: 12px;
  color: #6b7280;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 12px;
  border-radius: 8px;
  color: #64748b;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

.menu-item.active {
  background: rgba(211, 247, 181, 1);
  color: rgba(31, 68, 81, 1);
;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-footer img {
  width: 24px;
  margin-bottom: 10px;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 6px;
  color: rgba(31, 68, 81, 1);

}

.footer-text {
  font-size: 13px;
  color: #64748b;
  margin-bottom: 12px;
}

.sidebar-footer button {
  width: 120px;
  padding: 8px;
  background: rgba(31, 68, 81, 1);
  color: #fff;
  border: none;
  border-radius: 6px;
}

.main {
  flex: 1;
  padding: 32px 40px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 240px;
  padding: 10px 40px 10px 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.search-box img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 16.65px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}

.table-wrapper {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-content: space-between;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 14px 16px;
  text-align: left;
  vertical-align: middle;
}


thead tr {
  border-bottom: 1px solid #e5e7eb;
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid #eef2f7;
}

.doc-title {
  color: rgba(67, 109, 124, 1);

  font-weight: 600;
}

.date {
  color: #64748b;
}

.badge {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  display: inline-block;
}

.badge.blue {
  background: #e0f2fe;
  color: #0369a1;
}

.badge.grey {
  background: #e5e7eb;
  color: #374151;
}

.badge.green {
  background: rgba(211, 247, 181, 1);

  color: #365314;
}

.sub {
  font-size: 12px;
  color: #94a3b8;
  margin-top: 4px;
}

.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
  background: #fff;
  min-width: 115px;
}

.dots {
  font-size: 20px;
  text-align: center;
}
.navAdd
{
  padding: 10px;
  background-color: transparent;
  border: 1px solid #b5bdcd;
  border-radius: 3px;
  color: #626d82;
  align-items: center;
}
